In [4]:
from qr_query import qr_search
qr = input('Introduce un código QR: ')
qr_search(qr)

Introduce un código QR: '601170500100126'
Connection to local Mongo successful.
Connection to Atlas successful.
No images were found locally, searching in the cloud now.
No images were found in Atlas.
No data was found locally, searching in the cloud now.

   No. Imagen Validez      Fecha + 5hrs   Ciudad         ESAT6     CFP10    RV1681       P24       P26   Control
0           0   Valid  2017-05-19 15:03  Zapopan  Inconclusive  Negative  Negative  Negative  Negative  Negative
2           1   Valid  2017-05-19 15:04  Zapopan  Inconclusive  Negative  Negative  Negative  Negative  Negative
1           2   Valid  2017-05-19 15:05  Zapopan  Inconclusive  Negative  Negative  Negative  Negative  Negative
4           3   Valid  2017-05-19 15:05  Zapopan  Inconclusive  Negative  Negative  Negative  Negative  Negative
5           4   Valid  2017-07-28 21:49  Zapopan      Positive  Negative  Negative  Positive  Negative  Negative
3           5   Valid  2017-12-21 18:54  Zapopan      Positive  Negative  Positive  Positive  Negative  Negative